<div class="popup-holder" [ngClass]="{ 'active': details }">
	<div class="details-box" *ngIf="details">
		<span class="closer"
			(click)="closerClickHandler(item)">X</span>
		<img class="poster" src="http://image.tmdb.org/t/p/w500{{details.poster_path}}">
		<dl class="info">
			<dt>Title:</dt>
			<dd>{{details.title}}</dd>
			<dt>Overview:</dt>
			<dd>{{details.overview}}</dd>
			<dt>Release:</dt>
			<dd>{{details.release_date}}</dd>
			<dt>Rating:</dt>
			<dd>{{details.vote_average}}</dd>
			<dt>Genres:</dt>
			<dd><span *ngFor="let genre of details.genres; let index = index">{{(index >= 1 ? ', ' : '') + genre.name}}</span></dd>
			<dt>Country:</dt>
			<dd><span *ngFor="let country of details.production_countries; let index = index">{{(index >= 1 ? ', ' : '') + country.name}}</span></dd>
		</dl>
	</div>
	<div class="overlay"
		(click)="closerClickHandler(item)"></div>
</div>