<div id="wrapper">
	<div class="svg-holder" (window:resize)="onResize($event)"></div>
	<div class="top-list" [ngClass]="{ 'active': listOpened }">
		<button class="opener"
			(click)="openerClickHandler()"></button>
		<ol class="list">
			<li *ngFor="let item of movies.list"
				[ngClass]="{
					'favorite': movies.favorite.indexOf(item.idIMDB) > -1,
					'active': details && details.idIMDB === item.idIMDB
				}">
				<button class="btn-opener"
					(click)="itemClickHandler(item)">{{item.title}}</button>
				<button class="btn-favorite"
					(click)="toggleFavorite(item.idIMDB)">
					<i class="icon-star"></i>
				</button>
			</li>
		</ol>
	</div>
	<div class="popup-holder" [ngClass]="{ 'active': details }">
		<div class="details-box" *ngIf="details">
			<button class="closer"
				(click)="closerClickHandler()">X</button>
			<img class="poster" src="{{details.urlPoster}}">
			<dl class="info">
				<dt>Title:</dt>
				<dd>{{details.title}}</dd>
				<dt>Info:</dt>
				<dd>{{details.plot}}</dd>
				<dt>Year:</dt>
				<dd>{{details.year}}</dd>
				<dt>Rating:</dt>
				<dd>{{details.rating}}</dd>
				<dt>Genres:</dt>
				<dd>
					<span
						*ngFor="let genre of details.genres; let index = index">{{(index >= 1 ? ', ' : '') + genre}}</span>
				</dd>
				<dt>Countries:</dt>
				<dd>
					<span
						*ngFor="let country of details.countries; let index = index">{{(index >= 1 ? ', ' : '') + country}}</span>
				</dd>
				<dt>Directors:</dt>
				<dd>
					<a
						*ngFor="let director of details.directors; let index = index"
						href="http://www.imdb.com/name/{{ director.id }}/">{{(index >= 1 ? ', ' : '') + director.name}}</a>
				</dd>
				<dt>Favorite:</dt>
				<dd><button class="btn-favorite"
					[ngClass]="{ 'active': movies.favorite.indexOf(details.idIMDB) > -1}"
					(click)="toggleFavorite(details.idIMDB)"><i class="icon-star"></i></button></dd>
			</dl>
		</div>
		<div class="overlay"
			(click)="closerClickHandler()"></div>
	</div>
</div>

